@use './variables';
@use './mixins';

html {
  scroll-behavior: smooth;
}

.highlight {
  color: variables.$accent-color;
}

::selection {
  background-color: rgba(193, 76, 154, .4);
}

.text-gradient{
  background: rgb(49,194,213);
  background: linear-gradient(308deg, rgba(49,194,213,1) 0%, rgba(38,167,213,1) 20%, rgba(109,43,207,1) 40%, rgba(206,82,144,1) 60%, rgba(159,62,170,1) 80%, rgba(227,50,89,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.disabled {
  filter: opacity(.5);

  @include mixins.breakpoint(xxl) {
    &:hover {
      cursor: not-allowed;
    }
  }
}